#customize-control-wallstreet_pro_options-webriti_stylesheet input{display:none;}
#customize-control-wallstreet_pro_options-webriti_stylesheet label {display:inline;}

.color_scheem_active{ border:2px solid yellow !important; }